body {
	font-family: sans-serif ;
	background: #2f383e;
	color: #faedcd ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	 /*max-width: 900px;*/
     margin-top: 25px ;
	 text-align: center ;
     border-radius: 25px;
     border: 2px solid #596763;
     width: 100%;
     padding: 25px;
     min-height: 25px;
     /*position: absolute;*/
}

/* Links */
a:visited{  
    color: #e9f0e9 ;
}  
a:hover{  
    color:#573e4c;  
}  
a:active{  
    color: #e9f0e9 ;
}  
a {
    color: #e9f0e9 ;
}

/* fzf-like border */
.fzfborder {
     border-radius: 25px;
     border: 2px solid #596763;
     /*width: 900px;*/
     width: 100%;
     margin-top: 25px;
     padding: 25px;
     min-height: 800px;
     /*margin-left: -100px;*/
}
/* Nav */
.menubar {
    display: inline-block;
    margin: 0px;
    width: 1000px;
    /*width: 120%;*/
}

.menubar li a {
    display: block;
}

/*
.titlemenu {
    display: inline-block;
    position: relative;
    left: 0;
    margin-right: 100%;
	background: #2f383e;
	color: #bdc3af;
    font-size: 30pt ;
}
*/

.special {
    border: none !important;
    color: none !important;
    background: none !important;
    margin-top: -15px !important;
    padding-left: 5px !important;
}

nav {
    /*margin-left: auto;*/
    /*margin-right: 10%;*/
    margin-left: -30px;
    font-size: medium;
    text-align: center;
}

.menubar li {
	display: block;
	float: left;
	/*width: 110px;*/
	width: 100px;
    min-height: 1.5em;
    background: #404c51;
    border: #3b5360 solid 2px;
    padding: 3px;
    margin: 4px;
}

.menubar li:hover {
    background: #2f383e;
}

.menubar a {
    text-decoration: none;
	color: #bdc3af ;
}

.menubar li ul {
	visibility: hidden;
	position: absolute;
    padding-top: 0px;
}

.menubar li:hover ul {
	visibility: visible;
    padding-left: 0;
    margin-left: -7px; 
}

.menubar li ul li {
    float: none;
    position: relative;
    width: 150px;
    text-align: left;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML; The container for both the previous and next articles. */
#nextprev {
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
