<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<meta charset="utf-8">
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ if isset .Params "tags" }}
	       <meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="robots" content="index, follow">
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/site.css'>
	<link rel='stylesheet' type='text/css' href='/syntax.css'>
	<link rel='stylesheet' type='text/css' href='/gallery.css'>
	{{ with .Site.Params.favicon }}
        <link rel="icon" href="{{ . }}">
	{{ end -}}
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
</head>
<body>
<main>
{{ partial "nav.html" . }}

<div class="container">
<div class="site-post">
<div id="content">

<header class="site-header">
    <div class="container">
        <h1> {{ block "title" . }}{{ end }} </h1>
    </div>
</header>

<article>
{{ block "main" . }}
{{ .Content }}
{{ end }}
{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
</article>

</div>
</div>
</div>

{{ block "footer" . }}
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="column">
        <div class="site-footer-line">
          <a href="/privacy-policy/">Privacy Policy</a> · 
          <a href="/credits/">Credits</a> · 
          <a href="/index.xml"><img src="/rss.svg" style="max-height:1.5em" alt="RSS Feed" title="Subscribe via RSS for updates."></a>
          <a href="/index.xml"><img src="/xmr.svg" style="max-height:1.5em" alt="RSS Feed" title="Subscribe via RSS for updates."></a>
          <a href="/index.xml"><img src="/btc.svg" style="max-height:1.5em" alt="RSS Feed" title="Subscribe via RSS for updates."></a>
        </div>
        <div class="site-footer-line">
          © 2019-2025 · nshan651.duckdns.org
        </div>
      </div>
      <div class="column align-right">
        <p>
        <a href="https://github.com/nshan651/nshan651.github.io">
          <img src="/git.png" style="max-height:2em" alt="Contribute on GitHub">
        </a>
        </p>
      </div>
    </div>
  </div>
</footer>
{{ end }}


</main>
</body>
</html>
