        <div class="site-masthead">
            <div class="container">
                <nav class="nav">
                    <a class="nav-link" href="/">Home</a> 
                    <a class="nav-link" href="/contact">Contact</a> 
                    <a class="nav-link" href="/posts/">Blog</a> 
                    <a class="nav-link" href="/library/">Library</a> 
                    <a class="nav-link" href="/projects/">Projects</a> 
                    <a class="nav-link" href="/discover/">Discover</a>
                    <a class="nav-link" href="/about/">About</a>
                    </ul>
                </nav>
            </div>
        </div>


<!-- <nav> -->
<!--     <ul class="menubar"> -->
<!--         <li class="special"> -->
<!--             <h1> nshan.is </h1> -->
<!--         </li> -->
<!--         <li> -->
<!--             <a href="/index.html"> -->
<!--             <img src="https://nshan651.github.io/images/svg/lights/home.png" width=15px height=15px> -->
<!--                 Home -->
<!--             </a> -->
<!--         </li> -->
<!--         <li> -->
<!--             <a> -->
<!--             <img src="https://nshan651.github.io/images/svg/lights/link.png" width=15px height=15px> -->
<!--                 Links -->
<!--             </a> -->
<!--             <ul> -->
<!--                 <li> -->
<!--                     <a href="https://nshan651.github.io/papers/resume.pdf"> -->
<!--             <img src="https://nshan651.github.io/images/svg/lights/resume.png" width=15px height=15px> -->
<!--                         Resume --> 
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li> -->
<!--                     <a href="https://github.com/nshan651"> -->
<!--             <img src="https://nshan651.github.io/images/svg/lights/github.png" width=15px height=15px> -->
<!--                         Github -->
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li> -->
<!--                     <a href="https://gitlab.com/nshan651"> -->
<!--             <img src="https://nshan651.github.io/images/svg/lights/gitlab.png" width=15px height=15px> -->
<!--                         GitLab -->	
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li> -->
<!--                     <a href="https://www.linkedin.com/in/nicolas-shannon-7494051a2/"> -->
<!--             <img src="https://nshan651.github.io/images/svg/lights/linkedin.png" width=15px height=15px> -->
<!--                         LinkedIn -->
<!--                     </a> -->
<!--                 </li> -->
<!--             </ul> -->
<!--         </li> -->

<!--         <li> -->
<!--             <a href="/posts/"> -->
<!--                 <img src="https://nshan651.github.io/images/svg/lights/browser-page.png" width=15px height=15px> -->
<!--                 Blog --> 
<!--             </a> -->
<!--         </li> -->

<!--         <li> -->
<!--             <a> -->
<!--                 <img src="https://nshan651.github.io/images/svg/lights/documents.png" width=15px height=15px> --> 
<!--                Writings --> 
<!--             </a> -->
<!--             <ul> -->
<!--                 <li> -->
<!--                     <a> -->
<!--                         Research -->
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li> -->
<!--                     <a href="https://nshan651.github.io/creative_writing.html"> -->
<!--                         Creative Writing --> 
<!--                     </a> -->
<!--                 </li> -->
<!--                 <li> -->
<!--                     <a> -->
<!--                        Philosophy --> 
<!--                     </a> -->
<!--                 </li> -->
<!--             </ul> -->
<!--         </li> -->
<!--         <li> -->
<!--             <a> -->
<!--             <img src="https://nshan651.github.io/images/svg/lights/blueprint.png" width=15px height=15px> -->
<!--                 Projects -->
<!--             </a> -->
<!--             <ul> -->
<!--                 <li> -->
<!--                     <a href="https://nshan651.github.io/external/hemingway/templates/index.html"> -->
<!--                         <img src="https://nshan651.github.io/images/svg/lights/read-book.png" width=15px height=15px> -->
<!--                        The Way of Hemingway --> 
<!--                     </a> -->
<!--                 </li> -->

<!--             </ul> -->
<!--         </li> -->
<!--         <li> -->
<!--             <a> -->
<!--             <img src="https://nshan651.github.io/images/svg/lights/plus.png" width=15px height=15px> -->
<!--                 Extras -->
<!--             <ul> -->
<!--                 <li> -->
<!--                     <a href="https://nshan651.github.io/other_sites.html" width=15px height=15px> -->
<!--                         Interesting Sites -->
<!--                     </a> -->
<!--                 </li> -->
<!--             </ul> -->
<!--             </a> -->
<!--         </li> -->
<!--     </ul> --> 
<!-- </nav> -->
