<!DOCTYPE html>
<html lang="en">
<!--begin head-->
<head>
    <meta charset="utf-8"/>
    <title>Citations Page</title>
    <link rel="stylesheet" href="https://github.com/nshan651/nshan651.github.io/tree/main/styles/citations.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<!--begin body-->
<body>

<!--navbar-->
<div id="navbar">
<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/nshan651/nshan651.github.io/tree/main/templates/index.html">The Way of Hemingway</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates
        /early-life.html">Early Life</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates
        /ww1.html">WWI</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates
        /travels-abroad.html">Travels Abroad</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates/late-life.html">Late Life</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates
        /writingandthemes.html">Writing Style & Themes</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates/legacy.html">Legacy</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates/citations.html">Citations</a></li>
    </ul>
  </div>
</nav>
</div>

<!--wrap and screen; (encases other sections, ends after outer div!)-->
<div id="wrap">
<div id="screen">

<div id="header">
    <h1 class="title">Citations Page</h1>
</div>

<!--outer-->
<div id="outer">
    <div class="biblio">
        <h2 class="subtitle">Hemingway, Ernest (1899-1961)</h2>
        <p class="bib-entry"><b>Cooke, Douglas. "Hemingway, Ernest (1899–1961)." The St. James
        Encyclopedia of Popular Culture Vol. 2 2nd ed. Pages 642-646. 2013; Accessed October 24, 2020.
        <a href="https://go-gale-com.flagship.luc.edu/ps/retrieve.do?tabID=T003&resultListType
        =RESULT_LIST&searchResultsType=SingleTab&hitCount=316&searchType=BasicSearchForm&currentPosition=
        1&docId=GALE%7CCX2735801237&docType=Biography&sort=Relevance&contentSegment=&prodId=GVRL&pageNum=
        1&contentSet=GALE%7CCX2735801237&searchId
        =R1&userGroupName=loyolau&inPS=true">From Gale Ebooks; Accessed through luc.edu</a></b><br><br>
        This article from the Encyclopedia of Popular Culture focuses on Ernest Hemingway’s writing style and literary
        contributions. The article talks about each of Hemingway’s written works in chronological order while also providing
        background context for each, such as public reception. This article appears to be free of any apparent biases, the
        author seems to do a good job of detailing Hemingway’s publishing history with an objective perspective in mind
        </p>
    </div>
    <div class="biblio">
        <h2 class="subtitle">The Last Days of Ernest Hemingway</h2>
        <p class="bib-entry"><b>Hotchner, A.E. “The Last Days of Ernest of Ernest Hemingway.” ProQuest Historical
        Newspapers: The Chicago Tribune. Page J31. October 23, 1966; Accessed October 25, 2020.
        <a href="https://search.proquest.com/hnpchicagotribune/
        docview/179062295/6598DB590F164E11PQ/2?accountid=12163">From ProQuest Historical Newspapers</a></b><br><br>
        This article is a part of the ProQuest Historical Newspaper collection. It is an article from the
        Chicago Tribune published on October 23, 1966 – five years after Hemingway’s death. It is published by A.E. Hotchner, an associate of Hemingway’s,
        and the eventual author of his biography. The article recounts Hotchner’s perspective on Hemingway’s final moments.This will be an excellent resource
        in the section of my website where I plan to talk about Hemingway’s final moments and summarize his career in retrospect. It is a credible, first-hand
        source that will be interesting to include.
        </p>
    </div>
    <div class="biblio">
        <h2 class="subtitle">Hemingway on War and Its Aftermath</h2>
        <p class="bib-entry"><b>Putnam, Thomas. “Hemingway on War and Its Aftermath.” Prologue Magazine – U.S. National Archives and
        Records Administration, Vol. 38, #1. Spring 2006; Accessed October 25, 2020.
        <a href="https://www.archives.gov/publications/prologue/2006/spring/hemingway.html#:~:text=Hemingway%20and%20World%20War%20I,
        wounded%20by%20Austrian%20mortar%20fire">From the National Archives</a></b><br><br>
        This article from Prologue Magazine details Hemingway’s experience in the First World War, and how it
        influenced his future literary works. This article seems to be reliable; it is from a journal that is part of the US National Archives and Records
        Administration, and it includes citations and reviews.
        </p>
    </div>
    <div class="biblio">
        <h2 class="subtitle">Writer, Novelist, Nobel Prize Recipient</h2>
        <p class="bib-entry"><b>Reynolds, Michael. “Hemingway, Ernest (1899-1961), writer, novelist, Nobel Prize recipient.”
        The Oxford Encyclopedia of American Cultural and Intellectual History. 2013; Accessed October 24, 2020.
        <a href="https://www-oxfordreference-com.flagship.luc.edu/view/10.1093/acref/9780199764358.001.0001/acref-9780199764358-e-302">From the Oxford Encyclopedia</a></b><br><br>
        This article, taken from the Oxford Encyclopedia of American Culture, gives a very brief overview of
        Hemingway’s life and writing career. It begins with his early journalism stint, his war experience, and his early association with Modernist writers.
        It talks briefly about his short stories, then his novels, and finally his posthumously published works. This article appears to be a veritable,
        trustworthy source that has been edited.
        </p>
    </div>
    <div class="biblio">
        <h2 class="subtitle">"Modernism"</h2>
        <p class="bib-entry"><b>Singal, Daniel. “Modernism”. The Oxford Encyclopedia of American Cultural and Intellectual History.
        2013; Accessed October 24, 2020.
        <a href="https://www-oxfordreference-com.flagship.luc.edu/view/10.1093/acref/9780199764358.001.0001/acref-9780199764358-e-441?rskey=GL0aEk&result=441">From the Oxford Encyclopedia</a></b><br><br>
        This article, also taken from the Oxford Encyclopedia, lays out the history and ideas behind the
        Modernist movement. It talks about the distinction between “Modernism” and “Modernization”, some of the notable Modernist writers, and Modernist
        beliefs and culture. The source seems to be a credible, edited source.
        </p>
    </div>
    <div class="biblio">
        <h2 class="subtitle">On the Influence of Naturalism on American Literature</h2>
        <p class="bib-entry"><b>Zhang, Xiaofen. “On the Influence of Naturalism on American Literature”. Education Resources
        Information Center, Vol. 3, #2. June 2010; Accessed October 24, 2020.
        <a href="https://files.eric.ed.gov/fulltext/EJ1081555.pdf">From the Education Resources Information Center</a></b><br><br>
        This article, taken from the ERIC Institute of Education Sciences collection, talks about the
        rise of the Naturalist movement, and specifically how it influenced American Literature in the late 19th and early-to-mid 20th century. It
        includes a substantial section on Hemingway. This article seems to be trustworthy; it is a peer reviewed article published on the Education
        Resources Information Center (ERIC), which is an online digital library sponsored by the United States Department of Education.
        </p>
    </div>
</div> <!--end outer-->

<!--Borders
<div id="borders">
</div>
-->

<!--Footer
<div id="footer">
</div>
-->
</div></div> <!--end screen and wrap divs-->
</body>
</html>