<!DOCTYPE html>
<html lang="en">
<!--begin head-->
<head>
    <meta charset="utf-8"/>
    <title>Early Life</title>
    <link rel="stylesheet" href="/styles/page.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<!--begin body-->
<body>

<!--navbar-->
<div id="navbar">
<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/templates/index.html">The Way of Hemingway</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/templates/early-life.html">Early Life</a></li>
      <li><a href="/templates/ww1.html">WWI</a></li>
      <li><a href="/templates/paris.html">Paris</a></li>
      <li><a href="/templates/travels-abroad.html">Travels Abroad</a></li>
      <li><a href="/templates/late-life.html">Late Life</a></li>
      <li><a href="/templates/literary-contributions.html">Literary Contributions</a></li>
      <li><a href="/templates/citations.html">Citations</a></li>
    </ul>
  </div>
</nav>
</div>

<!--wrap and screen; (encases other sections, ends after outer div!)-->
<div id="wrap">
<div id="screen">

<div id="header">
    <h1 class="title">Early Life</h1>
</div>

<!--outer-->
<div id="outer">
    <div class="section">
        <h2 class="subtitle">Humble Beginnings</h2>
        <p class="auto">
        Ernest Miller Hemingway was born in Oak Park, Illinois, a middle-class suburb of Chicago. Hemingway was raised,
        according to the Hemingway Society, with the strong Midwestern values of hard work, religion and faith, physical
        well-being, and self-determination. These are the values that would help Hemingway prepare for both the horrors
        of war and his future writing career.<br><br> Hemingway would spend the first twenty years of his life here, and
        it is in these early years that Hemingway would develop his admiration for the fine arts and the outdoors.
        Hemingway’s father taught him to have a deeper reverence for nature and the outdoors. His mother fostered his
        love for the fine arts by taking him to Chicago opera houses and museums. Both parents were insistent on raising
        him in the protestant faith (although he would later convert to Catholicism after marrying his second wife).
        Hemingway became very involved in the church by joining the choir and reflecting on sermons.
        </p>
        <img class= "text-img-round" alt="Oak Park" src="/imgs/Oak_park.jpg" width="600" height="400">
    </div>

    <div class="section">
        <h2 class="subtitle">Hemingway and the Great Outdoors</h2>
        <p class="auto">
        Hemingway spent the summers with his family in the woods of Northern Michigan at the family’s summer home on
            Walloon Lake. Young Hemingway would explore the land, fish, and hunt small game. Hunting and fishing
            remained passions of his throughout his life. Hemingway’s boyhood experiences at Horton Bay and Walloon Lake
            would continue to inspire his writing, despite his adventures around the world.
           <br><br><em class = "small-text">"All the love went into fishing and the summer. He had loved it more than
            anything. He had loved digging potatoes with Bill in the fall . . . . The hills at the foot of Walloon Lake,
            storms on the lake. . . delivering vegetables around the lake. . . coming up from the foot of the lake with
            groceries, the mail and the Chicago paper under a tarpaulin. . . . the wind in the hemlocks and the wet pine
            needles underfoot when he was barefoot going for the milk. Getting up at daylight to row across the lake and
            hike over the hills after a rain to fish in Hortons Creek.”
              <br>-From “On Writing,” The Nick Adams Stories by Ernest Hemingway, 1972</em>
        </p>
        <img class= "text-img-rect1" alt="Walloon Lake" src="/imgs/walloon-lake.jpg" width="600" height="400">
        <img class= "text-img-rect2" alt="Oak Park" src="/imgs/windmere-lakeside.jpg" width="304" height="180">
    </div>

    <div class="section">
        <h2 class="subtitle">Scholar, Athelete, and Journalist</h2>
        <p class ="auto">
            Hemingway excelled both academically and athletically. He demonstrated a particular talent for writing,
            writing for both his school newspaper, Trapeze, and for the yearbook. He published some of his very first
            writings under the pen name Ring Lardner, Jr.<br><br>
	        After he finished high school, Hemingway chose to forgo higher education in favor of pursuing his writing
            career. His first job was as a reporter for the Kansas City Star, which, although short, would go on to
            influence Hemingway’s future writing style. He would go on to adopt short, declarative statements in his
            writing. This was relatively uncommon at a time when American writing was heavily influenced by lavish,
            adjective-rich prose.
        </p>
        <img class= "text-img-rect3" alt="Kansas City Star" src="/imgs/kansas-city-star.jpg" width="1280" height="720">
    </div>




    </div> <!--end section-->
</div> <!--end outer-->

</div></div> <!--end screen and wrap divs-->
</body>
</html>