<!DOCTYPE html>
<html lang="en">
<!--begin head-->
<head>
    <meta charset="utf-8"/>
    <title>Early Life</title>
    <link rel="stylesheet" href="https://github.com/nshan651/nshan651.github.io/tree/main/styles/page.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<!--begin body-->
<body>

<!--navbar-->
<div id="navbar">
<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/nshan651/nshan651.github.io/tree/main/templates/index.html">The Way of Hemingway</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates
        /early-life.html">Early Life</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates
        /ww1.html">WWI</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates
        /travels-abroad.html">Travels Abroad</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates/late-life.html">Late Life</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates
        /writingandthemes.html">Writing Style & Themes</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates/legacy.html">Legacy</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates/citations.html">Citations</a></li>
    </ul>
  </div>
</nav>
</div>

<!--wrap and screen; (encases other sections, ends after outer div!)-->
<div id="wrap">
<div id="screen">

<div id="header">
    <h1 class="title">Early Life</h1>
</div>

<!--outer-->
<div id="outer">
    <div class="section">
        <h2 class="subtitle">Humble Beginnings</h2>
        <p class="auto">
        Ernest Miller Hemingway was born in Oak Park, Illinois, a middle-class suburb of Chicago. Hemingway was raised,
        according to the Hemingway Society, with the strong Midwestern values of hard work, religion and faith, physical
        well-being, and self-determination. These are the values that would help Hemingway prepare for both the horrors
        of war and his future writing career.<br><br> Hemingway would spend the first twenty years of his life here, and it is
        in these early years that Hemingway would develop his admiration for the fine arts and the outdoors. Hemingway’s
        father taught him to have a deeper reverence for nature and the outdoors. His mother fostered his love for the
        fine arts by taking him to Chicago opera houses and museums. Both parents were insistent on raising him in the
        protestant faith (although he would later convert to Catholicism after marrying his second wife). Hemingway
        became very involved in the church by joining the choir and reflecting on sermons.
        </p>
        <div class="img">
            <img class= "text-img" alt="Oak Park" src="https://github.com/nshan651/nshan651.github.io/tree/main
            /imgsOak_park.jpg" width="600" height="400">
        </div>
    </div>
</div> <!--end outer-->

<!--Borders
<div id="borders">
</div>
-->

<!--Footer
<div id="footer">
</div>
-->
</div></div> <!--end screen and wrap divs-->
</body>
</html>