<!DOCTYPE html>
<html lang="en">
<!--begin head-->
<head>
    <meta charset="utf-8"/>
    <title>The Way of Hemingway</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<!--begin body-->
<body>
<div id="navbar">
<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/templates/index.html">The Way of Hemingway</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/templates/early-life.html">Early Life</a></li>
      <li><a href="/templates/ww1.html">WWI</a></li>
      <li><a href="/templates/travels-abroad.html">Travels Abroad</a></li>
      <li><a href="/templates/late-life.html">Late Life</a></li>
       <li><a href="/templates/writingandthemes.html">Writing Style & Themes</a></li>
      <li><a href="/templates/legacy.html">Legacy</a></li>
      <li><a href="/templates/citations.html">Citations</a></li>
    </ul>
  </div>
</nav>
</div>

<div id="wrap"><div id="screen">
<div id="header">
    <!--<h1 id="title">Ernest Hemingway</h1> NOTE: this doesn't display?? -->
    <img id= "img-title" alt="Hemingway-Banner" src="/imgs/hemingway-banner.jpg">
</div>
<div id="main">
<div class="entry">
    <h1 class="title">Welcome to The Way of Hemingway</h1>
    <p class="auto">Ernest Miller Hemingway was an American journalist, short-story writer, and Nobel Prize winner in Literature.
    Explore the site to learn more!</p>
</div>
</div>
<div id="sidebar">
</div>
<div id="footer">
</div>
</div></div> <!--end screen and wrap divs-->

</body>
</html>