<!DOCTYPE html>
<html lang="en">
<!--begin head-->
<head>
    <meta charset="utf-8"/>
    <title>Late Life</title>
    <link rel="stylesheet" href="https://github.com/nshan651/nshan651.github.io/tree/main/styles/citations.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<!--begin body-->
<body>

<!--navbar-->
<div id="navbar">
<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/nshan651/nshan651.github.io/tree/main/templates/index.html">The Way of Hemingway</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates
        /early-life.html">Early Life</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates
        /ww1.html">WWI</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates
        /travels-abroad.html">Travels Abroad</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates/late-life.html">Late Life</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates
        /writingandthemes.html">Writing Style & Themes</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates/legacy.html">Legacy</a></li>
      <li><a href="https://github.com/nshan651/nshan651.github.io/tree/main/templates/citations.html">Citations</a></li>
    </ul>
  </div>
</nav>
</div>

<!--wrap and screen; (encases other sections, ends after outer div!)-->
<div id="wrap">
<div id="screen">

<div id="header">
    <h1 class="title">Late Life</h1>
</div>

<!--outer-->
<div id="outer">
    <div class="biblio">

    </div>
    <div class="biblio">

    </div>
    <div class="biblio">

    </div>
    <div class="biblio">

    </div>
    <div class="biblio">

    </div>
    <div class="biblio">

    </div>
</div> <!--end outer-->

<!--Borders
<div id="borders">
</div>
-->

<!--Footer
<div id="footer">
</div>
-->
</div></div> <!--end screen and wrap divs-->
</body>
</html>