<!DOCTYPE html>
<html lang="en">
<!--begin head-->
<head>
    <meta charset="utf-8"/>
    <title>Hemingway - Late Life</title>
    <link rel="stylesheet" href="/styles/page.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<!--begin body-->
<body>

<!--navbar-->
<div id="navbar">
<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/templates/index.html">The Way of Hemingway</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/templates/early-life.html">Early Life</a></li>
      <li><a href="/templates/ww1.html">WWI</a></li>
      <li><a href="/templates/paris.html">Paris</a></li>
      <li><a href="/templates/travels-abroad.html">Travels Abroad</a></li>
      <li><a href="/templates/late-life.html">Late Life</a></li>
      <li><a href="/templates/citations.html">Citations</a></li>
    </ul>
  </div>
</nav>
</div>

<!--wrap and screen; (encases other sections, ends after outer div!)-->
<div id="wrap">
<div id="screen">

<div id="header">
    <h1 class="title">Late Life</h1>
</div>

<!--outer-->
<div id="outer">
    <div class="section">
    <h2 class="subtitle">Hemingway's Final Work</h2>
        <p class="auto">
            Hemingway published The Old Man and the Sea (1952) which was immediately hailed as a literary masterpiece. It won the Pulitzer prize in 1953, and the following year Hemingway won the Nobel Prize for Literature. Although this was the last of his works to be published during his lifetime, many of Hemingway’s unfinished works were published after his death.
        </p>
        <img class= "text-img-portrait3" alt="The Old Man and the Sea" src="/imgs/final-work.jpg" width="1400" height="2159">
    </div>

     <div class="section">
        <h2 class="subtitle">Battle with Mental Health</h2>
        <p class="auto">
            Hemingway left his home in Cuba in 1960 as the Cuban Revolution was just beginning. Hemingway tried to live life as he
            had done before, but he was plagued by intense bouts of anxiety and depression. He was twice hospitalized at
            the Mayo Clinic in Rochester, Minnesota after attempts on his own life. Two days after returning to Idaho after
            the second visit, he took his own life with a shotgun.
        </p>
        <img class= "text-img-portrait3" alt="Hemingway in Idaho" src="/imgs/hem-in-idaho.jpg" width="600" height="400">
    </div>

    <div class="section">
        <h2 class="subtitle">The Last Days of Ernest Hemingway</h2>
        <p class ="auto">
            Hemingway’s long-time friend and eventual writer of his biography A.E. Hotchner recounts the final moments of his friend
            in a heart-wrenching Chicago Tribune article. Hotchner and Hemingway first met when Hotchner was sent to Cuba
            to get him to write an article about the future of literature. They became fast friends; hunting, drinking,
            and attending bullfights together.<br><br> It comes as no surprise that Hotchner was devastated to learn of his friend’s
            first attempt on his life. Hotchner received a call on morning from Mary, Hemingway’s wife, after he was found
            in the living room loading a shotgun. Hotchner, Hemingway’s close friend Vernon, and Hemingway’s wife finally
            convinced Hemingway to check himself in to the Mayo Clinic Hospital in Rochester, Minnesota, where he might receive
            proper treatment. <br><br>Hemingway made numerous attempts on his life after this, including two attempts to jump out
            of an airborne airplane. Hemingway’s mental health had continued to deteriorate, and he was most frustrated by
            his inability to write. He began experiencing wild mood swings and developed delusions about state tax collectors
            spying on him in Ketchum. <br><br>Hotchner visited Hemingway for the last time at Mayo during Hemingway’s second round of
            treatments there. Hemingway again expressed great frustration about not being able to live on his own terms and write
            the way he used to. Even after his wildly successful writing career that included a Nobel Prize in Literature, the
            author was crestfallen at not being able to write.<br><br> <em>“Because—look, it doesn’t matter that I don’t write for a day
            or a year or 10 years as long as the knowledge that I can write is solid inside me. But a day without that knowledge,
            or not being sure of it, is eternity.”</em> -Hemingway to Hotchner
        </p>
        <p>

        </p>
        <img class= "text-img-portrait4" alt="Last Days Article" src="/imgs/last-days.jpg" width="1280" height="720">
    </div>

    </div> <!--end section-->
</div> <!--end outer-->

</div></div> <!--end screen and wrap divs-->
</body>
</html>