<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title> A History of Napolean Bonaparte</title>
    <link rel="icon" href="\FlaskProject\imgs\nap.jpg" type="imgage/x-icon" />
    <link rel="stylesheet" href="\FlaskProject\Styles\napolean_style.css">
</head>
<body>

</div>
<div class = "tableofcontents">
<h1 id="title-of-page">Napolean Boneparte</h1>
    <hr size="1">
    <p>Hello, and welcome to napolean.com, a website for all things Napolean Bonaparte!<br />
    <b>Viva la Revolución!</b></p>
<h2>Table of Contents:</h2>
    <ul>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#early-life">Early Life</a></li>
        <li><a href="#career">Early Career</a></li>
        <li><a href="#extras">Extras</a></li>
    </ul>
</div>

<div class="main-body"> <!--id of opening overview paragraph-->
    <h2><a name="overview">Overview</a></h2>
    <p>
        A brief overview of Napolean Boneparte:
    </p>
    <blockquote cite="https://en.wikipedia.org/wiki/Napoleon#Siege_of_Toulon">
    <p>
        <b>Napoleon Bonaparte</b> (/nəˈpoʊliən ˈboʊnəpɑːrt/;[1] French: <i>Napoléon</i> [napɔleɔ̃ bɔnapaʁt];
        15 August 1769 – 5 May 1821), born Napoleone di Buonaparte (Italian: [napoleˈoːne di ˌbwɔnaˈparte]),
        byname "Le Corse" (The Corsican) or <small>"Le Petit Caporal"</small> (The Little Corporal), was a French statesman
        and who became notorious as an <span class ="artillery">artillery commander</span> during
        the French Revolution.
    </p>
    </blockquote>
    <p> Taken from <a href="https://en.wikipedia.org/wiki/Napoleon" target="_blank">Wikipedia</a>, <cite>Napolean/Wikipedia, the Free Encycolpedia</cite></p>
    <img src="\FlaskProject\imgs\napolean.jpg" alt="Napolean on horse" align="right" width="640" height="480" />
    <p>
        He led many successful campaigns during the French Revolutionary Wars and was Emperor
        of the French as Napoleon I from 1804 until 1814 and again briefly in 1815 during the
        Hundred Days.
    </p>
</div>

<div class="main-body"> <!--class for main paragraphs-->
    <h2><a name="early-life">Early Life</a></h2>
    <p>
        In July 1793, Bonaparte published a pro-republican pamphlet entitled
        Le souper de Beaucaire (Supper at Beaucaire) which gained him the support of
        Augustin Robespierre, younger brother of the Revolutionary leader Maximilien Robespierre.
        <br /><br />With the help of his fellow Corsican Antoine Christophe Saliceti, Bonaparte was appointed
        artillery commander of the republican forces &nbsp;at the Siege of Toulon.[38]
    </p>
</div>

<div class ="main-body">
    <h2><a name="career">Early Career</a></h2>
    <p>
        Upon graduating in September 1785, Bonaparte was commissioned a second lieutenant in La Fère artillery regiment.
        [c][20] He served in Valence and Auxonne until after the outbreak of the Revolution in 1789.
    </p>
</div>

<div id="extras">   <!--extra div for practicing tags, delete later!-->
    <h3><a name="extras">Here is are some html examples that have nothing to do with Napolean</a></h3>
    <p>
        Example Code formatting: <pre><code>
        for (int i = 0; i < len; i++)    {
            execute code;
        }
    </code></pre>
    </p>
    <p>
        Here is a superscript and subscript example:<br /><br />
        example<sub>subscript</sub><br /><br />
        example<sup>superscript</sup>
    </p>
    <p>
        Here is <ins>inserted text</ins><br />
        Here is <del>deleted text</del> <br />
        The abbreviation<abbr title="Los Angelos Police Department"> LAPD</abbr>
    </p>
</div>
</body>
</html>