<!DOCTYPE html>
<html lang="en">
<!--begin head-->
<head>
    <meta charset="utf-8"/>
    <title>Early Life</title>
    <link rel="stylesheet" href="/styles/page.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<!--begin body-->
<body>

<!--navbar-->
<div id="navbar">
<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/templates/index.html">The Way of Hemingway</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/templates/early-life.html">Early Life</a></li>
      <li><a href="/templates/ww1.html">WWI</a></li>
      <li><a href="/templates/paris.html">Paris</a></li>
      <li><a href="/templates/travels-abroad.html">Travels Abroad</a></li>
      <li><a href="/templates/late-life.html">Late Life</a></li>
      <li><a href="/templates/citations.html">Citations</a></li>
    </ul>
  </div>
</nav>
</div>

<!--wrap and screen; (encases other sections, ends after outer div!)-->
<div id="wrap">
<div id="screen">

<div id="header">
    <h1 class="title">Paris</h1>
</div>

<!--outer-->
<div id="outer">
    <div class="section">
        <h2 class="subtitle">A Hero's Return</h2>
        <p class="auto">
            After the war, Hemingway returned to the States and was hailed as a hero. He took a position as a foreign correspondent
            writing for the Toronto Star. It was at this time that he made the commitment to write fiction, and several of his
            experimental short stories drew the attention of well-known author Sherwood Anderson. Anderson gave him a letter
            of introduction to two well-known American authors living in Europe at the time, Gertrude Stein and Ezra Pound.
            Hemingway was living in Chicago at this time and had just been married to Hadley Richardson. At the urging of
            Sherwood Anderson, the two of them decided to move to Paris.
        </p>
        <img class= "text-img-altround" alt="Hemingway and Hadley" src="/imgs/hemingway-and-hadley.jpg" width="480" height="640">
    </div>

    <div class="section">
        <h2 class="subtitle">The Lost Generation</h2>
        <p class="auto">
            After Hemingway moved to Paris, he was introduced to the “Parisian Modern Movement” of literature. Hemingway became a part
            of the “Lost Generation,” a literary group whose members included James Joyce, Max Eastman, Gertrude Stein,
            Ezra Pound, F. Scott Fitzgerald, and T.S. Elliot. Hemingway learned a great deal from this talented group of
            authors, and his years in Paris were some of the happiest and most productive of his life. Hemingway’s posthumously
            published collection of memoirs, titled A Moveable Feast, describe his time in Paris.
        </p>
        <img class= "text-img-rect1" alt="The Lost Generation" src="/imgs/lost-generation.jpg" width="600" height="400">
        <img class= "text-img-rect2" alt="Lost Generation 2" src="/imgs/lost-gen-2.jpg" width="304" height="180">
    </div>

    <div class="section">
        <h2 class="subtitle">Hemingway's Writing in Paris</h2>
        <p class ="auto">
            Hemingway published his first book, <em>Three Stories & Ten Poems</em> in Paris in 1923. His next book <em>With In Our Time </em>followed
            in 1925, which drew from Hemingway’s childhood experiences in Michigan as a source of inspiration. Hemingway
            also did a fair amount of work for the Toronto Star during his time spent abroad. He covered several world events
            such as the Geneva Conference in 1922 and the Greco-Turkish War. <br><br>He returned to the US in 1926 with the manuscript
            for <em>The Sun Also Rises</em>, which he published shortly after his return. During this time, his relationship with his
            wife began to deteriorate, and he had an affair with Vogue magazine editor Pauline Pfeiffer which ultimately led
            to him divorcing Hadley. Hemingway and Pfeiffer got married shortly after.
        </p>
        <img class= "text-img-rect3" alt="Writers in Paris" src="/imgs/writers-in-paris.jpg" width="1280" height="720">
    </div>

    </div>

    </div> <!--end section-->
</div> <!--end outer-->

</div></div> <!--end screen and wrap divs-->
</body>
</html>