<!DOCTYPE html>
<html lang="en">
<!--begin head-->
<head>
    <meta charset="utf-8"/>
    <title>Hemingway - Travels Abroad</title>
    <link rel="stylesheet" href="/styles/page.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<!--begin body-->
<body>

<!--navbar-->
<div id="navbar">
<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/templates/index.html">The Way of Hemingway</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/templates/early-life.html">Early Life</a></li>
      <li><a href="/templates/ww1.html">WWI</a></li>
      <li><a href="/templates/paris.html">Paris</a></li>
      <li><a href="/templates/travels-abroad.html">Travels Abroad</a></li>
      <li><a href="/templates/late-life.html">Late Life</a></li>
      <li><a href="/templates/citations.html">Citations</a></li>
    </ul>
  </div>
</nav>
</div>

<!--wrap and screen; (encases other sections, ends after outer div!)-->
<div id="wrap">
<div id="screen">

<div id="header">
    <h1 class="title">Travels Abroad</h1>
</div>

<!--outer-->
<div id="outer">
    <div class="section">
        <h2 class="subtitle">Key West</h2>
        <p class="auto">
            Hemingway initially stopped in Key West, Florida, on his return home from Paris. He and his second wife, Pauline, rented
            an apartment on an island there for several years before eventually purchasing a home. Key West gave Hemingway
            the opportunity to fish and sail on the open waters.
        </p>
        <img class= "text-img-square" alt="key West" src="/imgs/key-west.jpg" width="800" height="534">
    </div>

    <div class="section">
        <h2 class="subtitle">Africa</h2>
        <p class="auto">
            Hemingway and his wife Pauline traveled to Africa for a three-month safari in the summer of 1933, where he spent
            his time hunting game and enjoying time outdoors. Ernest’s experience in Africa inspired later literary works
            such as <em>The Green Hills of Africa, The Snows of Kilimanjaro,</em> and <em>The Short Happy Life of Francis Macomber</em>.
            Hemingway would journey to Africa many years later with his fourth wife for another excursion, and it is at
            this time that Hemingway’s mythical adventurousness and fearlessness really took shape. He was in two plane
            crashes on his second trip to the continent, but he miraculously survived them both.
        </p>
        <img class= "text-img-portrait" alt="Hemingway in Africa" src="/imgs/hem-in-afr.jpg" width="600" height="400">
        <img class= "text-img-portrait2" alt="Hemingway and a mountain" src="/imgs/mt-kilim.jpg" width="304" height="180">
    </div>

    <div class="section">
        <h2 class="subtitle">Spain</h2>
        <p class ="auto">
            Spain was perhaps one of the most important places to Hemingway, both for his literary career and his psychological
            and emotional being. Spain provided a setting for five of his major books – <em>The Sun Also Rises(1926), Death in the Afternoon (1932),
            For Whom the Bell Tolls (1940), The Dangerous Summer (1985)</em>, and <em>The Garden of Eden (1986)</em>. It also provided inspiration
            for numerous vignettes and short stories, and was incidentally where his only full-length play, The Fifth Column (1938).<br><br>
            During Hemingway’s numerous visits to Spain in the 1920’s and 1930’s, he learned a tremendous amount about
            Spain’s culture and history. However, Hemingway’s greatest area of interest was in the Spanish bullfighting.
            Hemingway’s <em>Death in the Afternoon</em> was praised by many Spanish bullfighting enthusiasts, despite his work not
            gaining much recognition in Spain until it was published much later.
        </p>
        <img class= "text-img-rect3" alt="Hemingway with a bull" src="/imgs/hem-with-bull.jpg" width="1280" height="720">
    </div>

    <div class="section">
        <h2 class="subtitle">The Spanish Civil War</h2>
        <p class ="auto">
            Hemingway was extremely invested in Spain and her people, and he took interest when fascism spread throughout Europe and as
            Spain broke out into a civil war. Hemingway had encountered fascism briefly in the 1920s when he had the chance
            to interview Mussolini, and he saw him plainly as the brutal dictator he would later become. <br><br>At the time,
            Francisco Franco led a group of Spanish nationalists in a revolt against the Spanish government, and Hemingway
            had the opportunity to cover the unfolding events. It was during this time that he worked with the famous war
            photographer Robert Capa, as well as fellow journalist Martha Gellhorn, who would later become his third wife.
        </p>
        <img class= "text-img-rect3" alt="The Spanish Civil War" src="/imgs/span-civ-war.jpg" width="1280" height="720">
    </div>

    <div class="section">
        <h2 class="subtitle-no-pic">Cuba</h2>
        <p class ="no-pic">
            Hemingway moved to Havana, Cuba in 1940 with his third wife Martha Gellhorn, where he would live for the next twenty years.
            He fished aboard his boat and enjoyed living on the island. Hemingway did a great deal of writing during his
            time living in Cuba, and many of his works from the1940s were edited and published posthumously. Hemingway still
            worked as a reporter during his time spent living in Cuba. Before he went to Europe to cover World War II, Hemingway
            armed his boat with weaponry and radio communications, and patrolled the Caribbean for German U-Boats.
        </p>
    </div>

    <div class="section">
        <h2 class="subtitle">WWII Coverage</h2>
        <p class ="auto">
            Hemingway covered many key events in the Second World War, including the D-Day landings where he accompanied
            American soldiers as a civilian correspondent. Hemingway also got into trouble attempting to lead a group of
            resistance people in the gathering of military intelligence in the village of Rambouillet. Despite this, he was
            awarded a Bronze Star for his services and bravery during the war.
        </p>
        <img class= "text-img-rect3" alt="World War II" src="/imgs/ww2.jpg" width="1280" height="720">
    </div>

    </div> <!--end section-->
</div> <!--end outer-->

</div></div> <!--end screen and wrap divs-->
</body>
</html>