<!DOCTYPE html>
<html lang="en">
<!--begin head-->
<head>
    <meta charset="utf-8"/>
    <title>Hemingway - WWI</title>
    <link rel="stylesheet" href="/styles/page.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<!--begin body-->
<body>

<!--navbar-->
<div id="navbar">
<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/templates/index.html">The Way of Hemingway</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/templates/early-life.html">Early Life</a></li>
      <li><a href="/templates/ww1.html">WWI</a></li>
      <li><a href="/templates/paris.html">Paris</a></li>
      <li><a href="/templates/travels-abroad.html">Travels Abroad</a></li>
      <li><a href="/templates/late-life.html">Late Life</a></li>
      <li><a href="/templates/citations.html">Citations</a></li>
    </ul>
  </div>
</nav>
</div>

<!--wrap and screen; (encases other sections, ends after outer div!)-->
<div id="wrap">
<div id="screen">

<div id="header">
    <h1 class="title">WWI</h1>
</div>

<!--outer-->
<div id="outer">
    <div class="section">
        <h2 class="subtitle">Preparing to go to War</h2>
        <p class="auto">
        Shortly after his six-month tenure as a reporter for the Kansas City Star, Hemingway served in the First World
            War as a volunteer ambulance driver with the American Red Cross. After hearing that the Red Cross was
            looking for volunteer ambulance drivers, Hemingway reached out to Theodore Brumback. Brumback was the son of
            a prominent judge, and he had spent five months as an ambulance driver in the countryside of northern France.
            <br><br>Hemingway resolved to serve and finished his tenure with the Star in late April 1918. Hemingway returned home
            to Oak Park briefly, all the while corresponding with Brumback about their plans to serve in Italy. Hemingway,
            Brumback, and several other volunteers traveled to New York where they spent two weeks training and
            sight-seeing. They traveled across the Atlantic by steamship and arrived in France where they made stops in
            Bordeaux and Paris. Hemingway finally arrived in Milan, Italy, in early June 1918.
        </p>
        <img class= "text-img-portrait" alt="Hemingway in Uniform" src="/imgs/uniform.jpg" width="600" height="400">
        <img class= "text-img-rect2" alt="Hemingway's Passport" src="/imgs/passport.jpg" width="600" height="400">

    </div>

    <div class="section">
        <h2 class="subtitle">The Horrors of War</h2>
        <p class="auto">
        Hemingway’s cohort of volunteers were given an immediate assignment upon arrival. Hemingway was sent to the site
        of a munitions plant explosion just outside of Milan. They arrived at a gruesome scene where bodies and various
        body parts were strewn about. Hemingway would later describe the horrific picture as a “baptism of fire” in the
        short story <em>A Natural History of the Dead</em>.<br><br> After this, Hemingway and Brumback were split up, and Hemingway was
        sent to Schio, 150 miles northeast of Milan. Hemingway was there for several weeks but saw very little action
        and expressed a sense of boredom because of a lack of things to do. When an opportunity arose later in June,
        Hemingway left his ambulance unit and took over a mobile canteen operation near the villages of Fornaci and
        Fossalta.
        </p>
        <img class= "text-img-rect3" alt="Ambulance Driver" src="/imgs/ambulance-in-Italy.jpg" width="600" 
        height="400">

    </div>

    <div class="section">
        <h2 class="subtitle">A Brush with Death</h2>
        <p class ="auto">
            Hemingway’s work with the canteen involved distributing coffee, chocolate, cigarettes, and post cards to soldiers in
            the trenches. One night in early June, Hemingway was badly injured by Austrian mortar fire that landed just
            feet away from him. Hemingway was later awarded the Silver Medal of Valor from the Italian government after
            carrying a wounded Italian soldier to safety and getting injured again by machine-gun fire.<br><br> Due to his
            grievous injuries, Hemingway spent the remainder of the war recovering at the American Red Cross hospital in
            Milan. Hemingway later described the event in a letter: “Then there was a flash, as when a blast-furnace
            door is swung open, and a roar that started white and went red.”
        </p>
        <img class= "text-img-round" alt="Milan Postcard" src="/imgs/milan-postcard.jpg" width="1280" height="720">
    </div>

    <div class="section">
        <h2 class="subtitle-no-pic">A Fiery Love Affair</h2>
        <p class ="no-pic">
        During his six-month recovery in Milan, Hemingway fell deeply in love with his nurse, Agnes von Kurowsky. Their
            passionate relationship lasted two weeks after the Armistice, after which Hemingway returned to the states.
            Hemingway’s relationship and physical rehabilitation would serve as inspiration for several of his future
            novels, most notably <em>A Fairwell to Arms</em>.
        </p>
    </div>

    </div> <!--end section-->
</div> <!--end outer-->

</div></div> <!--end screen and wrap divs-->
</body>
</html>