/*stylesheet for citations page*/

/*div ids*/
div#navbar {
	height: 50px;
	background: #FFFFFF;
	font-family: "Bookman", serif;
	color: #000000 !important;
	margin-top:0px;

}
div#wrap {

}
div#screen {
}

div#header {
	width:auto;
	margin-top:1%;
	margin-left:35%;
	margin-right:35%;
	text-align: center;
	padding: 20px;
	
}

div#outer {
	width:auto;
	margin-left:5%;
	margin-right:5%;
}

div#borders {
}
/*
div#footer {
	width:auto;
}
/*

/*div classes*/
div.section {
	margin:10%;
	position: relative;
	text-align: center;
	padding: 3%;
	background-color: #FFFFFF;
	background: #FFFFFF;
	border-style: solid;
	border-color: #000000;
	box-shadow: 10px 15px;


}

/*classes*/
.navbar a{
	color: black;
}
img.text-img-rect1 {
	position: absolute; left:52%; bottom: 50%;
	border:solid;
	border-color:#000000;
	width: 25%;
	height: 30%;
	z-index:1;

}
img.text-img-rect2 {
	position: absolute; left:70%; bottom: 20%;
	/*margin-top:-18%;*/
	border:solid;
	border-color:#000000;
	width: 25%;
	height: 30%;
	z-index:2;
}

img.text-img-rect3 {
	position: absolute; left:53%; bottom: 28%;
	/*margin-top:-18%;*/
	border:solid;
	border-color:#000000;
	width: 45%;
	height: 45%;
	z-index:2;
}



img.text-img-round {
	position: absolute; left:53%; bottom: 35%; 
	/*margin-top:-50%;*/
	border-radius:90%;
	border:solid;
	border-color:#000000;
	width: 40%;
	height: 45%;
}


.title {
	width:auto;
	padding:1%;
	background: #FFFFFF;
	border: solid;
	border-color: #000000;
	font-family: "Algerian" , serif;
	font-size: 60px;
	color: #000000;
}

.subtitle {
	margin-top:5px;
	padding: 0%;
	width: auto;
	position: relative; left:-25%; 
	text-align: 10px;
	/*text-decoration: underline overline;*/


	font:#000000;
	font-family: "Bookman" , serif;
	font-size: 38px;
	color: #000000;
}
p.auto {
	width:50%;
	margin: left; /*centers element*/
	padding: 1%;
	margin-bottom: 5%;
	text-align: left;
	background: #f7f7f7; 
	border-style: outset;
	border-color: #bfbfbf;
	font-family: "Trebuchet MS" , serif;
	font-size: 20px;
	color: #000000;
}

.small-text {
	font-size: 14px;
	font-family: "Trebuchet MS" , serif;
}

/*generic tags*/
body {
	background-image: url("/imgs/news_collage_blurry.jpg");

}
html {
	
}

